/* 공통 스타일 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "futura md bt";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Inter, sans-serif;
  height: 100%;
  color: white;
  background: white;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

header {
  background: white;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  z-index: 50;
}
header .logo {
  height: 100%;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

header .logo img {
  max-height: 100%; /* 부모 컨테이너의 높이에 맞춰서 이미지의 최대 높이를 설정 */
  max-width: 100%; /* 이미지가 부모 컨테이너의 너비를 넘지 않도록 설정 */
  height: auto; /* 비율을 유지하기 위해 자동으로 높이 조정 */
  width: auto; /* 비율을 유지하기 위해 자동으로 너비 조정 */
  display: block; /* 이미지가 블록처럼 보이도록 설정 */
  box-sizing: border-box; /* 요소의 크기 계산 방식을 변경 */
}

.searchBar {
  width: 80%;
  height: 70%;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.searchInput {
  border: 3px solid #32e17c;
  width: 90%;
  height: 80%;
  border-radius: 50px;
  padding: 0% 5%;
}

.slider {
  width: 100%;
  max-width: 1300px;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slider .list {
  display: flex;
  transition: transform 1s ease;
}

.slider .list .item {
  flex: 0 0 100%;
  height: 100%;
}

.slider .list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 10px;
  box-sizing: border-box;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 0 5px;
  border-radius: 50%;
  transition: width 0.5s;
}

.slider .dots li.active {
  width: 30px;
}

header,
header .logo img {
  box-sizing: border-box;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  color: #000;
  padding: 5px 0;
  margin: 0 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.2s;
}

/* Flexbox for centering */
.centerAlign {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 100%; /* Optional: Ensure full height if needed */
  text-align: center; /* Center text within the items */
}

#realBody {
  display: flex;
  width: 100%;

  text-align: center;
  justify-content: center;
  align-items: center;
}

#realBody2 {
  display: flex;
  width: 80%;
}

#section1Layout {
  background-color: white;
  width: 70%;
  height: auto;
}

#aside1Layout {
  width: 30%;
  height: 500px;
}

.loginDIv1 {
  width: 100%;
  height: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 3%;
}

.loginDIv2 {
  display: flex;
  width: 100%;
  height: 50%;
  text-align: center;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: -2%;
}

.loginBtn {
  margin-top: -2%;
  width: 90%;
  height: 90%;
  background-color: blueviolet;
  border-radius: 20px;
  text-align: center;
}

.loginDIv3 {
  width: 100%;
  height: 20%;
  text-align: right;
  color: black;
  margin-top: -1%;
  margin-left: -2%;
}

#product_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 가로로 5개의 그리드 */
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa; /* 배경색을 조금 더 부드럽게 설정 */
  color: black;
}

#product_list_wrapper .product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#product_list_wrapper .product-item img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #e0e0e0;
}

#product_list_wrapper .product-item .product-info {
  padding: 16px;
  text-align: center;
}

#product_list_wrapper .product-item .product-info h2 {
  font-size: 1.25rem;
  margin: 0 0 10px;
  color: #333;
}

#product_list_wrapper .product-item .product-info p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 8px;
}

#product_list_wrapper .product-item .product-info .price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #d9534f;
}

#product_list_wrapper .product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 20px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a l {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 4;
  font-weight: 400;
}

.main {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

.containerALignWidth {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 5%;
}

.container {
  width: 90%;
  height: 30%;
  background-color: white; /* Background color of the container */
  border: 2px solid grey; /* Border around the container */
  border-radius: 20px;
}
.container3 {
  position: fixed;
  width: 50%;
  z-index: 20;
}

.social-menu ul {
  width: 100%;
  position: fixed;
  top: 95%;
  left: 51%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
  z-index: 20;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}

.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}

.social-menu ul li .fa:hover {
  color: #ffffff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* 이미지가 부모 요소를 넘지 않게 함 */
}

.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
